<nav
  class="relative my-10 w-[80%] mx-auto flex justify-between items-center
  | md:w-auto md:mx-desktop-margin
  | lg:m-0 lg:py-10 lg:w-auto lg:px-[10%] "
  [ngClass]="isAboutPage ? 'lg:split-navbar-bg' : '' " >
  <a class="font-bold text-lg text-very-dark-blue | lg:text-xl"
    routerLink="/">
    Todo App
  </a>

  <!-- Mobile navigation menu -->

  <ul *ngIf="menuOpen" class="bg-dark-blue z-10 text-white/80 px-10 py-6 space-y-3 rounded-md flex absolute flex-col right-0 top-[160%]
     items-center | lg:hidden">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="font-bold text-white/100"
        (click)="mobileMenuToggle()"
        >Inicio</a
      >
    </li>
    <li>
      <a
        routerLink="/application"
        routerLinkActive="font-bold text-white/100"
        (click)="mobileMenuToggle()"
        >App</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="font-bold text-white/100"
        (click)="mobileMenuToggle()"
        >Nosotros</a
      >
    </li>
    <li class="relative items-center lg:hidden">
      <button *ngIf="userLoggedIn" (click)="userLogout()">Cerrar Sesion</button>
      <button *ngIf="!userLoggedIn" (click)="toggleUserLoggingIn()">Iniciar Sesion</button>
    </li>
  </ul>
  <button (click)="mobileMenuToggle()">
    <img
      [src]="!menuOpen ? '../../assets/Icons/menu-icon.svg' : '../../assets/Icons/menu-icon-close.svg'"
      alt="hamburguer menu"
      class="w-8 h-6 ml-4 | lg:hidden"
      [class.ml-4]="menuOpen"
    />
  </button>
      <form *ngIf="loggingIn && !menuOpen" #form="ngForm" (ngSubmit)="onSubmit(form.value)"
        class="active-form outline outline-light-blue/30 outline-1 flex-col z-10 text-white bg-very-dark-blue rounded-md px-6 py-8 absolute flex
        top-[150%] left-0 right-0 mx-auto max-w-sm shadow-2xl  | lg:hidden">
        <h3 class="font-bold text-xl">Iniciar Sesion</h3>
        <button (click)="toggleUserLoggingIn()" class="absolute right-5 top-6">
          <svg width="20" height="20" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 2.5335L22.4821 0L12.5 10.0441L2.51786 0L0 2.5335L9.98214 12.5776L0 22.6218L2.51786 25.1553L12.5 15.1111L22.4821 25.1553L25 22.6218L15.0179 12.5776L25 2.5335Z" fill="#FFF"/>
          </svg>
        </button>
          <input type="text" name="username"
          class="w-full rounded py-2 text-lg px-3 mt-2 relative text-very-dark-blue"
          required
          placeholder="Nombre de usuario"
          [(ngModel)]="username"
          #userError="ngModel"
          />
          <small class="text-red-400" *ngIf="userError.errors?.['required'] && (userError.dirty || userError.touched)">Ingresa un usuario</small>
        <input type="password" name="password"
          class="w-full rounded py-2 text-lg px-3 mt-1 relative text-very-dark-blue"
        [ngClass]="userError.errors?.['required'] && (userError.dirty || userError.touched) ? 'mt-1' : 'mt-3' "
        placeholder="Contraseña"
        required
        [(ngModel)]="password"
        #passError="ngModel"
        />
        <small *ngIf="passError.errors?.['required'] && (passError.dirty || passError.touched)" class="text-red-400">Usuario o contraseña incorrecta</small>
        <div class="flex items-start justify-between">
          <a routerLink="/about"><small class="opacity-70">Olvide mi contraseña</small></a>
            <button type="submit" [disabled]="form.invalid" (click)="onSubmit(form.value)" class="bg-orange-btn text-lg font-bold px-8 py-2 rounded mt-4 disabled:opacity-50 ">Ingresar</button>
        </div>
      </form>

  <!-- Desktop navigation menu -->
  <div class="hidden items-center justify-between w-2/5 | lg:flex">
    <ul class="hidden md:flex gap-14"
    [ngClass]="isAboutPage ? 'text-white/80' : 'text-very-dark-blue/70' "
    >
    <li>
      <a
      class="transition duration-200"
      [ngClass]="isAboutPage ? 'hover:text-white/100':'hover:text-very-dark-blue/100' "
      routerLink="/home"
      routerLinkActive="font-bold text-very-dark-blue/100">
        Inicio
      </a>
    </li>
    <li>
      <a
      class="transition duration-200"
      [ngClass]="isAboutPage ? 'hover:text-white/100':'hover:text-very-dark-blue/100' "
      routerLink="/application"
      routerLinkActive="font-bold text-very-dark-blue/100">
        App
      </a>
    </li>
    <li>
      <a
      class="transition duration-200"
      [ngClass]="isAboutPage ? 'hover:text-white/100':'hover:text-very-dark-blue/100' "
      routerLink="/about"
      routerLinkActive="font-bold text-white/100">
        Nosotros
      </a>
    </li>
    </ul>
    <div>
      <div class="hidden | relative lg:flex lg:cursor-pointer lg:items-center" >

        <img src="../../../assets/Images/profile-pic.svg"  width="50" height="50" alt="Foto de perfil"(click)="toggleShowUserOptions()" />
        <svg width="30" height="30"  (click)="toggleShowUserOptions()"
          class="transition duration-200"
          [ngClass]="showUserOptions ? 'rotate-180' : '' "
          viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.35 14.3167L20 21.95L27.65 14.3167L30 16.6667L20 26.6667L10 16.6667L12.35 14.3167Z"
          [attr.fill]="isAboutPage ? '#fff' : '#273746' "/>
        </svg>

        <button *ngIf="showUserOptions && !userLoggedIn" (click)="toggleUserLoggingIn()"
          [ngClass]="isAboutPage ? 'text-very-dark-blue bg-light-blue' : 'bg-very-dark-blue text-white' "
          class="whitespace-nowrap absolute right-0  font-bold  px-6 py-2 rounded-md
          | lg:bottom-[-120%]">Iniciar Sesion</button>
        <button *ngIf="showUserOptions && userLoggedIn" (click)="userLogout()"
          [ngClass]="isAboutPage ? 'text-very-dark-blue bg-light-blue' : 'bg-very-dark-blue text-white' "
          class="whitespace-nowrap absolute -bottom-full right-0 font-bold px-6 py-2 rounded-md
          | lg:bottom-[-120%]">Cerrar Sesion</button>
      </div>
      <form *ngIf="loggingIn && !showUserOptions" #form="ngForm" (ngSubmit)="onSubmit(form.value)"
        class="flex-col w-[300] z-10 text-white bg-very-dark-blue rounded-md px-6 py-5 absolute top-24 hidden
        | lg:flex lg:top-auto lg:bottom-[-135%] lg:right-[10%] lg:w-[300px] shadow-2xl">
        <h3 class="font-bold text-lg">Iniciar Sesion</h3>
        <button (click)="toggleUserLoggingIn()" class="absolute right-5 top-4">
          <svg width="20" height="20" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 2.5335L22.4821 0L12.5 10.0441L2.51786 0L0 2.5335L9.98214 12.5776L0 22.6218L2.51786 25.1553L12.5 15.1111L22.4821 25.1553L25 22.6218L15.0179 12.5776L25 2.5335Z" fill="#FFF"/>
          </svg>
        </button>
          <input type="text" name="username"
          class="w-full rounded py-1 px-3 mt-1 relative text-very-dark-blue"
          required
          placeholder="Nombre de usuario"
          [(ngModel)]="username"
          #userError="ngModel"
          />
          <small class="text-red-400" *ngIf="userError.errors?.['required'] && (userError.dirty || userError.touched)">Ingresa un usuario</small>
        <input type="password" name="password"
        class="rounded py-1 px-3 text-very-dark-blue"
        [ngClass]="userError.errors?.['required'] && (userError.dirty || userError.touched) ? 'mt-1' : 'mt-3' "
        placeholder="Contraseña"
        required
        [(ngModel)]="password"
        #passError="ngModel"
        />
        <small *ngIf="passError.errors?.['required'] && (passError.dirty || passError.touched)" class="text-red-400">Usuario o contraseña incorrecta</small>
        <div class="flex items-start justify-between">
          <a routerLink="/about"><small class="opacity-70">Olvide mi contraseña</small></a>
            <button type="submit" [disabled]="form.invalid" (click)="onSubmit(form.value)" class="bg-orange-btn text-base font-bold invalid:opacity-50 py-1 rounded mt-3 px-6">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</nav>
