<li  class="flex basis-full px-6 py-6  text-very-dark-blue | lg:py-8 lg:px-8 lg:hover:cursor-pointer lg:mx-auto lg:w-full" [class.py-5]="item.complete" [ngClass]="item.showDetails ? 'item-start' : 'items-center' " [class.md:h-28]="!item.showDetails" (click)="!item.complete? showMore(item.id) : null" 
      >
        <span class=" font-black text-4xl mr-6 | lg:mr-8"
          >
          <h4 *ngIf="!item.complete; else elseElement">#{{  index + 1 }}</h4>
          <ng-template #elseElement>
            <img src="../../../assets/Icons/completed-icon-task.svg" alt="Task completed" class="lg:w-12">
          </ng-template>
          </span
        >
        <div
          class="flex basis-full text-dark-blue gap-y-6 justify-between items-center"
          [class.flex-wrap]="item.showDetails"
        >
          <span [class]="item.showDetails ? 'mt-2 lg:w-3/4' : 'truncate max-w-[40vw] | md:max-w-[20vw] md:w-auto'" [class.opacity-50]="item.complete" [class.lg:w-full]="item.complete">{{
            item.task
          }}</span>
          <!-- hidden details div -->
          <div
            [class]="
              item.showDetails? 'flex basis-9/12 justify-end items-end mb-2 lg:items-center lg:mb-0'  : 'hidden'
            "
          >
          <!-- buttons for handling task state -->
            <div  
              class="flex justify-center items-center bg-very-dark-blue px-4 py-2 rounded-md space-x-6"
            >
            <!--  -->
              <button (click)="deleteItem(item.id)">
                <img
                  src="../../../assets/Icons/delete-icon-task.svg"
                  alt="delete this task"
                />
              </button>
              <button (click)="complete(item.id)">
                <img src="../../../assets/Icons/done-icon-task.svg" alt="mark as complete" />
              </button>
            </div>
          </div>
          <!-- Button for showing more details about task -->
          <button *ngIf="!item.complete" >
            <img
          
              [ngClass]="item.showDetails ? 'rotate-180' : 'rotate-0'"
              src="../../../assets/Icons/task-list-detail-btn.svg"
              alt="Show More datails"
            />
          </button>
        </div>
      </li>
