<li  class="flex basis-full px-6 py-4  text-very-dark-blue | lg:py-8 lg:hover:cursor-pointer lg:mx-auto lg:w-full lg:h-full lg:items-center" [class.py-5]="item.complete" [class.item-start]="item.showDetails" (click)="expandTaskEvent(item.id)" 
      >
        <span class=" font-black text-4xl mr-6 | lg:mr-5"
          >
          <h4 *ngIf="!item.complete; else elseElement">#{{  index + 1 }}</h4>
          <ng-template #elseElement>
            <img src="../../../assets/Icons/completed-icon-task.svg" alt="Task completed" class="lg:w-12">
          </ng-template>
          </span
        >
        <div
          class="flex basis-full text-dark-blue gap-y-6 justify-between items-center | lg:flex-nowrap"
          [class.flex-wrap]="item.showDetails"
        >
          <span [class.opacity-50]="item.complete"  [class]="item.showDetails ? 'mt-2 lg:mt-0 lg:w-3/4' : 'truncate  | w-44 lg:w-[7vw] ' " >{{
            item.task
          }}</span>
          <!-- hidden details div -->
          <div
            [class]="
              item.showDetails? 'flex basis-9/12 justify-end items-end mb-2 lg:basis-auto lg:items-center lg:mb-0'  : 'hidden'
            "
          >
          <!-- buttons for handling task state -->
            <div  
              class="flex justify-center items-center bg-very-dark-blue px-4 py-2 rounded-md space-x-6"
            >
              <button (click)="targetTask(item.id, 'delete')">
                <img
                  src="../../../assets/Icons/delete-icon-task.svg"
                  alt="delete this task"
                />
              </button>
              <button (click)="targetTask(item.id, 'completed')">
                <img src="../../../assets/Icons/done-icon-task.svg" alt="mark as complete" />
              </button>
            </div>
          </div>
          <!-- Button for showing more details about task -->
          <button *ngIf="!item.complete" >
            <img
          
              [ngClass]="item.showDetails ? 'rotate-180 lg:rotate-90' : 'rotate-0 lg:-rotate-90'"
              src="../../../assets/Icons/task-list-detail-btn.svg"
              alt="Show More datails"
            />
          </button>
        </div>
      </li>
