<main class="flex flex-col lg:flex-row">
    <!-- Intro -->
    <div class="flex flex-col mb-16 text-very-dark-blue items-center justify-center || lg:w-2/4">
      <img src="../../../../assets/Images/about-page-vector.svg" width="350" height="350">
      <h1 class="font-extrabold italic text-3xl mt-10">Jose Moreno</h1>
      <p class="text-dark-blue leading-6 px-12 mt-4 text-center || lg:px-0 lg:max-w-[500px]">
        Hola! Me alegro de verte por aca, te cuento un poco. Este proyecto fue
        realizado con intenciones de solidificar mis conocimientos en el
        uso Angular.
      </p>
      <h3 class="text-2xl font-extrabold italic mt-8 ">Creado Con:</h3>
      <div class="flex flex-col || lg:flex-row">
        <div class="mt-5 flex justify-center space-x-4 flex-wrap">
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/github-svg.svg" alt="" width="38" height="40"/></a></div>
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/logo-figma.svg" alt="" width="20" class="mx-2" /></a></div>
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/tailwind-icon.svg" alt="" width="38" height="40"/></a></div>
        </div>
        <div class="mt-2 flex justify-center space-x-4 flex-wrap || lg:mt-5 lg:ml-4">
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/angular-icon.svg" alt="" width="40" height="40"/></a></div>
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/git-logo.svg" alt="" width="38" height="38"/></a></div>
         <div class="bg-very-dark-blue rounded-full p-2 flex justify-center items-center"><a href="" ><img src="../../../../assets/Images/git-logo.svg" alt="" width="38" height="38"/></a></div>
        </div>
      </div>
    </div>
    <!-- links -->
    <div class="bg-dark-blue px-6 py-20 text-white flex flex-col justify-center items-center text-center || lg:px-20 lg:items-baseline lg:text-left lg:w-2/4">
      <h2 class=" font-semibold text-2xl">FIGMA</h2>
      <P class="mt-2 || lg:px-0 lg:max-w-[40ch]">Por aca puedes ver un poco de como arme la interface usando Figma.</P>
      <Img class="mt-3 rounded-lg shadow-2xl || lg:w-full" src="../../../../assets/Images/figma-ss.png" height="300" width="350"/>
      <h2 class="mt-10 font-semibold text-2xl">GITHUB</h2>
      <P class="mt-2 || lg:px-0 lg:max-w-[40ch]">Y por aca puedes echarle un vistazo al repositorio de la aplicacion y
      mi perfil</P>
      <Img class="mt-3 rounded-lg shadow-2xl || lg:w-full" src="../../../../assets/Images/github-ss.png" height="300" width="350"/>
      <h2 class="mt-10 font-semibold text-2xl">CONTACTO</h2>
      <address class="flex flex-col items-baseline">
        <p class="mt-4"><a href="mailto:josexmoreno1998@gmail.com" class="hover:underline underline-offset-2">josexmoreno1998&#64;gmail.com</a></p>
        <p><a href="tel:+56932845558" class="hover:underline underline-offset-2">+56 9 3284 5558 </a></p>
        <p><a href="" class="hover:underline underline-offset-2">https://www.portfolio.com</a></p>
      </address>
    </div>
  </main>
