<main class="flex flex-col items-center ">
  <h2 class="my-12 font-bold text-5xl italic text-very-dark-blue">JM</h2>
  <form class="py-6  w-[90%] rounded-md background drop-shadow-2xl">
    <label for="addTask"><h1 class="text-2xl font-medium text-white italic pl-4">New task</h1></label>

      <div class="flex flex-nowrap items-center mt-4 px-4 w-full">
          <input type="text" id="addTask" placeholder="Ex: Wash dishes" #newTask  class="py-2 px-4 rounded-md w-full"/>
          <button class="bg-orange-btn ml-3 py-2 px-5 rounded-md text-white font-medium italic text-shadow" (click)="addNewTask(newTask.value)">ADD</button>
        </div>
  </form>
</main>