<div
  class="bg-light-blue flex justify-center flex-col pt-2 pb-14 | lg:flex-row lg:pl-desktop-page-padding lg:pb-0 |"
>
  <div class="flex justify-center | lg:order-2">
    <!-- Mobile hero mockup -->
    <img
      class="max-w-full lg:hidden"
      src="../../../assets/Images/Mobile hero mock up.png"
      alt="Hero image"
    />
    <!-- Desktop hero mockup -->
    <img
      class="hidden  | lg:block lg:w-[50vw] | xl:w-[60vw] | 2xl:w-[50vw]"
      src="../../../assets/Images/desktop-hero-mockup.svg"
      alt="Hero image"
    />
  </div>
  <div
    class="flex justify-center flex-col px-4 | lg:px-0 lg:w-[400px] lg:block lg:mt-[17vh] | xl:w-[500px] xl:mt-[18vh] | 2xl:w-[550px]"
  >
    <h1
      class="mt-3 max-w-[16ch] text-4xl font-bold italic text-center tracking-tight text-very-dark-blue mx-auto | lg:text-left lg:text-[2.8rem] lg:m-0 lg:max-w-[16ch] | xl:text-5xl | 2xl:text-[4rem] 2xl:leading-[4.2rem]"
    >
      Improve your work and life balance
    </h1>
    <p
      class="mx-auto max-w-[50ch] mt-5 text-center text-dark-blue/90 leading-5 font-medium | lg:text-left lg:mx-0 lg:max-w-[43ch] | xl:max-w-[45ch] | 2xl:max-w-[50ch]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris.
    </p>
    <button
      class="bg-orange-btn py-2.5 px-7 text-white font-bold mx-auto mt-[1.3rem] lg:py-3 lg:px-9 rounded-md text-[0.95rem] outline outline-1 outline-[#7a5622]/80 shadow-lg"
    >
      <span class="text-shadow tracking-wider">START NOW </span>
    </button>
  </div>
</div>
<div
  class="bg-middle-blue text-center text-base leading-3 font-extralight text-white py-4 | px-desktop-page-padding lg:flex justify-between lg:text-left lg:text-xl lg:leading-normal"
>
  <p>Design and code by: <span class="font-semibold">Jose A. Moreno</span></p>
  <br />
  <p>Built with: <span class="font-semibold">Angular, Tailwindcss</span></p>
</div>

<!-- drop-shadow-[0_0_1px_rgba(0,0,0,0.7)] -->
<!-- #7a5622 -->
<!-- drop-shadow-[0_0_3px_rgba(122,86,34,1)] -->
