<div
  class="bg-light-blue flex justify-center flex-col pt-2 | lg:flex-row lg:justify-normal"
>
  <div class="flex justify-center | lg:order-2">
    <!-- Mobile hero mockup -->
    <img
      class="max-w-full lg:hidden"
      src="../../../assets/Images/Mobile hero mock up.png"
      alt="Hero image"
    />
    <!-- Desktop hero mockup -->
    <img
      class="hidden | lg:block mt-8"
      src="../../../assets/Images/desktop-hero-mockup.svg"
      alt="Hero image"
    />
  </div>
  <div
    class="flex justify-center flex-col | lg:w-[700px] lg:block mt-28 lg:pl-desktop-page-padding"
  >
    <h1
      class="mx-3 mt-3 text-4xl font-bold italic text-center tracking-tight text-very-dark-blue | lg:text-left lg:text-[3.5rem] lg:m-0 lg:leading-[4.2rem]"
    >
      Improve your work <br />
      and life balance
    </h1>
    <p
      class="mx-auto max-w-[80%] mt-5 text-center text-dark-blue/90 leading-5 font-medium | lg:text-left lg:mx-0 lg:max-w-[50ch]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
      Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
      ligula consectetur, ultrices mauris.
    </p>
    <button
      class="bg-orange-btn text-white font-bold mx-auto mt-[1.3rem] py-[0.6rem] px-7 rounded-md text-[0.95rem] outline outline-1 outline-[#7a5622]/80"
    >
      <span class="text-shadow tracking-wider">START NOW </span>
    </button>
  </div>
</div>
<div
  class="bg-middle-blue text-center text-xl font-extralight text-white py-4 | px-desktop-page-padding lg:flex justify-between lg:text-left"
>
  <p>Design and code by: <span class="font-semibold">Jose A. Moreno</span></p>
  <br />
  <p>Built with: <span class="font-semibold">Angular, Tailwindcss</span></p>
</div>

<!-- drop-shadow-[0_0_1px_rgba(0,0,0,0.7)] -->
<!-- #7a5622 -->
<!-- drop-shadow-[0_0_3px_rgba(122,86,34,1)] -->
