<div class="flex justify-center flex-col | lg:flex-row lg:pb-0 | xl:ml-[5vw] | 2xl:ml-[0vw]">
  <div class="flex justify-center | sm:mt-4 | md:mt-10 | lg:mt-0 lg:order-2 ">
    <!-- Mobile hero mockup -->
    <img width="400" height="400" class="max-w-[90%] md:max-w-lg lg:hidden" src="../../../../assets/Images/mobile-hero-mockup.png" alt="Hero image" />
    <!-- Desktop hero mockup -->
    <img  width="300" height="300" class="hidden  | lg:block lg:w-[42vw] | xl:w-[45vw] xl: | 2xl:w-[49vw]"
      src="../../../assets/Images/desktop-hero-mockup.png" alt="Hero image" />
  </div>
  <div
    class="flex justify-center flex-col  | lg:px-0 lg:w-[450px] lg:block lg:mt-[8vh]
    | xl:w-[500px] xl:mt-[11vh] | 2xl:ml-[5vw] 2xl:mt-[20vh] 2xl:w-[600px]">
    <h1
      class="mt-3 max-w-[20ch] px-4 text-3xl font-bold italic text-center tracking-tight text-very-dark-blue mx-auto | sm:text-4xl sm:max-w-[18ch] | md:px-0 md:max-w-[16ch] md:text-5xl
      | lg:text-left lg:text-[2.5rem] lg:m-0 lg:max-w-full | xl:text-5xl
      | 2xl:text-[3.5rem] 2xl:leading-[3.5rem]">
      Mejora tu balance entre vida y trabajo</h1>
    <p
      class="max-w-[45ch] px-6 mx-auto  mt-5 text-center text-dark-blue/80 font-normal | md:max-w-[55ch] md:px-0
      | lg:text-left lg:mx-0 lg:max-w-[36ch] lg:mt-4 | xl:max-w-[38ch]
      | 2xl:mt-2 2xl:text-lg 2xl:max-w-[40ch]">
      Esta es una aplicación de práctica, desarrollada con intenciones educacionales hacia Angular, su patrón MVC y conceptos de back-end</p>
    <div class="mx-auto mt-6 space-x-6 mb-12 | lg:mb-20 lg:mt-5">
      <button
          class="transition text-shadow duration-200 bg-orange-btn py-2.5 px-7 text-sm text-white font-bold mx-auto   rounded-md outline outline-1 outline-[#7a5622]/80 shadow-lg
                 | lg:hover:outline-very-dark-blue/70  lg:text-sm lg:px-9 lg:py-3  lg:hover:bg-very-dark-blue">
        <span class="tracking-wider "><a routerLink="/application">EMPIEZA YA</a></span>
      </button>
      <a class="text-sm text-very-dark-blue text-opacity-60 transition-all duration-200 font-bold underline-offset-4 | lg:hover:text-opacity-100  " routerLink="/about" >SABER MAS</a>
    </div>
  </div>
</div>
<div
  class="bg-middle-blue text-center text-base leading-3 font-extralight text-white py-4 | lg:px-[10vw] lg:flex justify-between lg:text-left lg:text-xl lg:leading-normal">
  <p>Diseñado por: <span class="font-semibold">Jose A. Moreno</span></p>
  <br />
  <p>Creado con: <span class="font-semibold">Angular, Tailwindcss</span></p>
</div>

<!-- drop-shadow-[0_0_1px_rgba(0,0,0,0.7)] -->
<!-- #7a5622 -->
<!-- drop-shadow-[0_0_3px_rgba(122,86,34,1)] -->
