<div class="flex justify-center flex-col | lg:flex-row lg:ml-[5vw] lg:pb-0 | xl:ml-[10vw] | 2xl:ml-[5vw]">
  <div class="flex justify-center mt-4 | lg:mt-0 lg:order-2 ">
    <!-- Mobile hero mockup -->
    <img class="max-w-full lg:hidden" src="../../../assets/Images/Mobile hero mock up.png" alt="Hero image" />
    <!-- Desktop hero mockup -->
    <img class="hidden  | lg:block lg:w-[50vw] | xl:w-[60vw] | 2xl:w-[50vw]"
      src="../../../assets/Images/desktop-hero-mockup.svg" alt="Hero image" />
  </div>
  <div
    class="flex justify-center flex-col  | lg:px-0 lg:w-[450px] lg:block lg:mt-[17vh] | xl:w-[500px] xl:mt-[18vh] | 2xl:w-[550px]">
    <h1
      class="mt-3 max-w-[16ch] text-4xl font-bold italic text-center tracking-tight text-very-dark-blue mx-auto | lg:text-left md:text-5xl lg:m-0 lg:max-w-[16ch] | xl:text-5xl | 2xl:text-[4rem] 2xl:leading-[4.2rem]">
      Mejora tu balance entre vida y trabajo</h1>
    <p
      class="mx-auto max-w-[50ch] mt-5 text-center text-dark-blue/80 font-normal px-[10vw] | md:px-0 | lg:text-left lg:mx-0 lg:max-w-[43ch] lg:mt-3 | xl:max-w-[45ch] | 2xl:max-w-[50ch]">
      Sabemos lo que cuesta organizarse y por eso nacio Todo! Una aplicacion sencilla pero eficaz a la hora
      de mejorar tu eficiencia, no pierdas mas tiempo!</p>
    <button
      class="bg-orange-btn py-2.5 px-7 text-white font-bold mx-auto mt-4 mb-20 lg:py-3 lg:px-9 rounded-md text-[0.95rem] outline outline-1 outline-[#7a5622]/80 shadow-lg">
      <span class="text-shadow tracking-wider"><a routerLink="/application">EMPIEZA YA</a></span> </button>
  </div>
</div>
<div
  class="bg-middle-blue text-center text-base leading-3 font-extralight text-white py-4 | lg:px-[10vw] lg:flex justify-between lg:text-left lg:text-xl lg:leading-normal">
  <p>Diseñado por: <span class="font-semibold">Jose A. Moreno</span></p>
  <br />
  <p>Creado con: <span class="font-semibold">Angular, Tailwindcss</span></p>
</div>

<!-- drop-shadow-[0_0_1px_rgba(0,0,0,0.7)] -->
<!-- #7a5622 -->
<!-- drop-shadow-[0_0_3px_rgba(122,86,34,1)] -->
