@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Sans Variable", sans-serif;
  background-color: #DEE6ED;
}
  

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px #7a5622;
  }
  .background {
    background-image: url("./assets/Images/bg-form-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -0.5rem;
  }
  /* ul {
  color: black;
  list-style: none;
  padding: 0;
  margin-inline: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
li {
  margin-top: 3rem;
  background-color: aliceblue;
  border-radius: 0.2rem;
  padding-block: 1.5rem;
  padding-inline: 2rem;
}

.btn-delete {
  margin-left: 1.5rem;
  padding-inline: 1rem;
  padding-block: 0.3rem;
} */


}
