@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito Sans Variable", sans-serif;
  background-color: #DEE6ED;
 
}
  

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px #7a5622;
  }
  .background {
    background-image: url("./assets/Images/bg-form-mobile.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
  }

  .split-background {
    background: linear-gradient(to bottom, #DEE6ED 70%, white 30%);
  }
  
  @media only screen and (min-width: 1000px) {
    .background {
      background-image: url("./assets/Images/bg-form-desktop.svg");
      background-position-y: 1px;
    }    
  }
  @layer components {
    
  }
}
