@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/nunito-sans/wght-italic.css";

html {
  font-family: 'Nunito Sans Variable', sans-serif;
  background-color: #DEE6ED;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 2px #7a5622;
  }
  .text-shadow:hover {
    text-shadow: none;
  }
  .background {
    background-image: url("./assets/Images/bg-form.svg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .background-mb {
    background-image: url("./assets/Images/bg-form-mobile.svg");
    background-repeat: no-repeat;
    background-size:cover;
  }

  .split-background {
    background: linear-gradient(to bottom, #DEE6ED 70%, white 30%);
  }
  .split-navbar-bg {
    background: linear-gradient(to left, #394D60 50%, #DEE6ED 50%);
  }

}
